@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

body {
  background-image: url("./image/women.svg");
  background-repeat: no-repeat;
  top: 0%;
  left: 0%;
  max-height: 100%;
  width: 100%;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
::selection {
  color: white;
  background: black;
}

nav {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-logo {
  top: 0rem;
  height: 100px;
  padding-left: 100%;
}

.header-logo > img {
  height: 100px;
}

.menu ul {
  display: inline-flex;
}
.menu ul li {
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child {
  margin-left: 0px;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover {
  background: black;
  color: white;
}

.center {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title {
  color: white;
  font-family: "Italiana", serif;
  font-size: 200px;
  font-weight: 600;
}
.center .sub_title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
}
